<!DOCTYPE html>
<html>
<head>
    <title>Savaş Simülasyonu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Savaş Simülasyonu</h1>
    </header>

    <div class="container">
        <form method="POST" action="/">
            <label for="character">Karakterini seç:</label>
            <select id="character" name="character">
                <optgroup label="İyi Karakterler">
                    <option value="1">Manwe</option>
                    <option value="2">Gandalf</option>
                    <option value="3">Elrond</option>
                </optgroup>
                <optgroup label="Kötü Karakterler">
                    <option value="4">Melkor</option>
                    <option value="5">Sauron</option>
                    <option value="6">Nazgul</option>
                </optgroup>
            </select>
            <form method="POST" action="/">
                <label for="enemy">Düşmanını seç:</label>
                <select id="enemy" name="enemy">
                    <optgroup label="İyi Karakterler">
                        <option value="1">Manwe</option>
                        <option value="2">Gandalf</option>
                        <option value="3">Elrond</option>
                    </optgroup>
                    <optgroup label="Kötü Karakterler">
                        <option value="4">Melkor</option>
                        <option value="5">Sauron</option>
                        <option value="6">Nazgul</option>
                    </optgroup>
                </select>
            <button type="submit">Savaşa Başla</button>       
        </form>        
    </form>
    <div class="ring">
    <img src="{{ url_for('static', filename='onering.jpg') }}" alt="Tek Yüzük">
    </div>
</div>
</body>
</html>
